/node_modules
/public/hot
/public/storage
/public/vendor
/storage/*.key
#!/vendor
/vendor/*
#!/vendor/cnvs
/.idea
/.vagrant
/.storage
/storage/*.index
/storage/*.lock
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.env
config/blog.php